/** Landing Page Template */

#landing-hero-cont {
  position: relative;
  min-height: 600px;
  overflow: hidden;

  /* Let's make this a flex container to center its child elements */
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Vertically and horizontally centered now, thanks to Flexbox on parent */
.landing-content {
  position: relative;
  z-index: 1;
  text-align: center;
  max-width: 80%;
}